$colorBrown: #221f1f;
$colorGreen: #57EF82;

* {
    border: 0;
    padding: 0;
    margin: 0;
    outline: none;
    list-style: none;
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    line-height: 1.2;
}

a {
    color: inherit;
    text-decoration: none;
    transition: .3s color;
}

.header {
    position: relative;
    display: flex;
    align-content: center;
    padding: 10px 20px;
    background-color: $colorBrown;
    color: #fff;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, .3);
    margin-bottom: 50px;
    
    a:hover {
        color: $colorGreen;
    }

    &__logo {
        margin: auto;
        text-align: center;
        font-size: 48px;
        font-weight: bold;
    }

    &__links {
        position: absolute;
        right: 20px;
        top: 0;
        bottom: 0;
        margin: auto;
        display: flex;
        flex-direction: row;
        align-items: center;

        a {
            margin: 0 10px;
        }
    }
}

.container {
    margin: auto;
    max-width: 1280px;
}

.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .product {
        margin-bottom: 35px;

        &+.product {
            //margin-left: 20px;
        }
    }
}

.product {
    position: relative;
    width: 300px;
    display: flex;
    flex-direction: column;
    transition: .3s all;
    border-radius: 10px;
    border: 1px solid #eaeaea;
    overflow: hidden;
    cursor: pointer;

    &:hover {
        background-color: #eaeaea;
    }

    &:active {
        transform: scale(0.97);
    }

    &__img {
        height: 230px;
        width: 100%;
    }

    &__info {
        padding: 20px;
        display: flex;
        flex-direction: column;
        height: 100%;

        .title {
            display: block;
            font-size: 22px;
            margin-bottom: 10px;
        }

        .description {
            font-size: 16px;
            color: #616161;
            margin-bottom: 10px;
        }

        .discount {
            position: absolute;
            top: 10px;
            right: -30px;
            padding: 0 35px;
            text-align: center;
            font-size: 16px;
            color: #fff;
            background-color: #ff0000;
            font-weight: bold;
            transform: rotate(45deg);
        }
    }

    .price {
        display: block;
        margin-top: auto;
        font-size: 18px;
        padding: 0 20px;

        &__regular {

        }

        &__old {
            text-decoration: line-through;
            color: gray;
            font-size: 14px;
            display: inline-block;
        }

        &__new {
            display: inline-block;
            margin-left: 5px;
            font-size: 20px;
            color: red;
        }
    }

    .btn {
        margin-top: 10px;
        display: block;
        text-align: center;
        background-color: $colorGreen;
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        padding: 5px;

        &:hover {
            background-color: darken($colorGreen, 15%);
        }
    }
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;

    a {
        display: block;
        padding: 5px 8px;
        background: #eaeaea;
        color: #000;
        margin: 0 3px;
        border-radius: 3px;
    }
}

.breadcrumbs {
    font-size: 20px;

    a {
        color: #35868e;
    }
}

.single-product {
    .title {
        font-size: 32px;
        text-align: center;
        font-weight: bold;
        margin-bottom: 50px;
    }

    .gallery {
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        .mainImg {
            width: 600px;
            height: auto;
        }

        .images {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            width: auto;
            flex-wrap: wrap;
            margin-left: 50px;

            img {
                width: 150px;
                height: 150px;
                margin-left: 15px;
            }
        }
    }
}

.control-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    a {
        display: block;
        width: 100%;
        max-width: 25%;
        text-align: center;
        color: #000;
        font-size: 20px;
        border-radius: 5px;
        padding: 15px;
        border: 1px solid $colorGreen;
        transition: .3s all;

        &:hover {
            background: $colorGreen;
            //color: #fff;
        }
    }
}


/*

h2 {
    font-size: 4em;
    text-align: center;
    margin: 20px 0;
}

section.products {
    display: flex;
    flex-wrap: wrap;
}

.product {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 315px;
    margin: 20px;

    h3 {
        margin: 5px 0;
    }

    .product-image {
        width: 315px;
        height: 315px;
        align-self: center;
    }

    .product-short-description {
        max-height: 150px;
        overflow: hidden;
    }

    .new {
        position: absolute;
        top: 0;
        right: 0;
        width: 60px;
    }

    .to-cart {
        padding: 10px;
        margin: 5px 0;
    }
}

.single-product {
    margin-left: 15px;

    h2 {
        font-size: 2em;
        text-align: left;
    }

    .to-cart {
        padding: 20px;
        font-size: 18px;
    }
}

footer {
    text-align: center;
    margin: 5px 0;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;

    input {
        border: 2px solid #eee;
        border-radius: 5px;
        background: #eee;
        padding: 5px;
        margin: 10px 0;
    }
}

.cabinet {
    padding: 0 20px;

    h4 {
        margin: 10px 0;
        font-size: 20px;
    }
}

table {
    border-collapse: collapse;
    margin: auto;
    text-align: center;

    td, th {
        border: 1px solid gray;
        padding: 10px;
    }
}
*/
