* {
  border: 0;
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
  font-family: Helvetica, sans-serif;
  line-height: 1.2; }

body {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column; }

h2 {
  text-align: center;
  margin-bottom: 15px; }

a {
  color: inherit;
  text-decoration: none;
  transition: .3s color; }

.text-error {
  color: red;
  font-size: 12px; }

.header {
  position: relative;
  display: flex;
  align-content: center;
  padding: 10px 20px;
  background-color: #221f1f;
  color: #fff;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 50px; }
  .header a:hover {
    color: #57EF82; }
  .header__logo {
    margin: auto;
    text-align: center;
    font-size: 48px;
    font-weight: bold; }
  .header__links {
    position: absolute;
    right: 20px;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center; }
    .header__links a {
      margin: 0 10px; }

.container {
  margin: auto;
  max-width: 1280px;
  width: 100%; }

.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }
  .products .product {
    margin-bottom: 35px; }
    .products .product.disabled {
      filter: grayscale(1);
      cursor: default; }
      .products .product.disabled:hover {
        background-color: unset; }

.product {
  position: relative;
  width: 300px;
  display: flex;
  flex-direction: column;
  transition: .3s all;
  border-radius: 10px;
  border: 1px solid #eaeaea;
  overflow: hidden;
  cursor: pointer; }
  .product:hover {
    background-color: #eaeaea; }
  .product:active {
    transform: scale(0.97); }
  .product__img {
    height: 230px;
    width: 100%; }
  .product__info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100%; }
    .product__info .title {
      display: block;
      font-size: 22px;
      margin-bottom: 10px; }
    .product__info .description {
      font-size: 16px;
      color: #616161;
      margin-bottom: 10px; }
    .product__info .discount {
      position: absolute;
      top: 10px;
      right: -30px;
      padding: 0 35px;
      text-align: center;
      font-size: 16px;
      color: #fff;
      background-color: #ff0000;
      font-weight: bold;
      transform: rotate(45deg); }
  .product .price {
    display: block;
    margin-top: auto;
    font-size: 18px;
    padding: 0 20px; }
    .product .price__old {
      text-decoration: line-through;
      color: gray;
      font-size: 14px;
      display: inline-block; }
    .product .price__new {
      display: inline-block;
      margin-left: 5px;
      font-size: 20px;
      color: red; }
  .product .btn {
    margin-top: 10px;
    display: block;
    text-align: center;
    background-color: #57EF82;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 5px; }
    .product .btn:hover {
      background-color: #16e450; }

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .pagination a {
    display: block;
    padding: 5px 8px;
    background: #eaeaea;
    color: #000;
    margin: 0 3px;
    border-radius: 3px; }

.breadcrumbs {
  font-size: 20px; }
  .breadcrumbs a {
    color: #35868e; }

.single-product .title {
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 50px; }
.single-product .gallery {
  display: flex;
  flex-direction: row;
  align-items: flex-start; }
  .single-product .gallery .mainImg {
    width: 600px;
    height: auto; }
  .single-product .gallery .images {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: auto;
    flex-wrap: wrap;
    margin-left: 50px; }
    .single-product .gallery .images img {
      width: 150px;
      height: 150px;
      margin-left: 15px; }
.single-product .info-item {
  margin-bottom: 15px; }
.single-product .features {
  padding-left: 20px; }
  .single-product .features .feature {
    display: list-item;
    list-style: disc inside; }
.single-product .tags .tag {
  color: blue;
  cursor: pointer; }

.control-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .control-buttons .btn-block {
    max-width: 25%; }

.btn-block {
  display: block;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  color: #000;
  font-size: 18px;
  border-radius: 5px;
  padding: 7px 15px;
  background-color: transparent;
  border: 1px solid #57EF82;
  transition: .3s all;
  margin: 20px auto;
  cursor: pointer; }
  .btn-block:hover {
    background-color: #57EF82; }
  .btn-block.delete {
    border: 1px solid firebrick; }
    .btn-block.delete:hover {
      color: #ffffff;
      background-color: firebrick; }

form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: auto; }
  form label {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0; }
    form label.flex-start {
      align-items: flex-start; }
    form label select,
    form label input[type='date'],
    form label input[type='text'],
    form label input[type='number'],
    form label input[type='email'],
    form label input[type='password'],
    form label textarea {
      border: 2px solid #eee;
      border-radius: 5px;
      background: #eee;
      padding: 5px;
      margin-left: 5px;
      width: 100%; }
    form label textarea {
      resize: vertical; }
    form label input[type='checkbox'], form label input[type='file'] {
      margin: auto 0 auto 5px; }
    form label select, form label input[type='date'], form label input[type='number'] {
      width: auto; }

.footer {
  position: relative;
  padding: 10px 20px;
  background-color: #221f1f;
  color: #fff;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  margin-top: 50px; }
  .footer a {
    color: #57EF82; }

/*# sourceMappingURL=style.css.map */
