* {
    border: 0;
    padding: 0;
    margin: 0;
    outline: none;
    list-style: none;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

header .user-block {
    display: flex;
    align-self: center;
}

header .user-block li {
    margin: 0 10px;
}

h2 {
    font-size: 4em;
    text-align: center;
    margin: 20px 0;
}

section.products {
    display: flex;
    flex-wrap: wrap;
}

.product {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 315px;
    margin: 20px;
}

.product h3 {
    margin: 5px 0;
}

.product .product-image {
    max-width: 315px;
    height: auto;
    align-self: center;
}

.product .new {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
}

.product .to-cart {
    padding: 10px;
    margin: 5px 0;
}

.single-product {
    margin-left: 15px;
}

.single-product h2 {
    font-size: 2em;
    text-align: left;
}

.single-product .to-cart {
    padding: 20px;
    font-size: 18px;
}

footer {
    text-align: center;
    margin: 5px 0;
}

/*TODO: add styles for register page*/
